In [6]:
import pandas as pd
data=pd.read_csv("rest_list.csv")
import re

In [7]:
data.head()
#Check if any restaurants are out of business
data.business_status.value_counts()
#Drop unnecessary values
data=data.drop(['business_status', 'icon',"id","opening_hours","photos","place_id","plus_code","reference","scope"], axis=1)

In [8]:
data.head()
#due to way of data collection, duplicates are possible
data=data.drop_duplicates()
#check for Nan
null_cols = data.isnull().sum()
null_cols
#price_level nans will be left in
show=data[(data["rating"].isnull()==True)]
show
#manual research about theese places
data=data.drop([0,5,8,55,66,81,88,100,146,188,190,193,209,221,236,244,261,269,273])
#edit 68,217
#keep 163 (new)

In [9]:
#edit data accordingly
data.at[68,"rating"]=3.6
data.at[68,"user_ratings_total"]=469
data.at[217,"rating"]=4.2
data.at[217,"user_ratings_total"]=1352

In [10]:
#unnest geometry column
test=data
test1=list(test.geometry)
num=[]
pattern = "\d+\W\d+"
for x in test1:
    num.append(re.findall(pattern,x))

In [12]:
num2=[]
for x in num:
    num2.append(x[0])
num3=[]
for x in num:
    num3.append(x[1])

In [21]:
#insert back to df unnested
loc=pd.DataFrame({'col':num2})
loc1=pd.DataFrame({'col2':num3})
data["latitude"]=loc.col
data["longitude"]=loc1.col2
data.columns

Index(['geometry', 'name', 'price_level', 'rating', 'types',
       'user_ratings_total', 'vicinity', 'longitude', 'latitude'],
      dtype='object')

In [23]:
#Saving clean DataFrame to csv,excel and SQL
data.to_excel('rest_new.xlsx', index=False)
data.to_csv('rest_new.csv', index=False)
data.head()

,geometry,name,price_level,rating,types,user_ratings_total,vicinity,longitude,latitude
1,"{'location': {'lat': 52.3766982, 'lng': 4.8935...",Burger House Amsterdam,NaN,4.4,"['restaurant', 'food', 'point_of_interest', 'e...",34.0,"Korte, Kolksteeg 5H, Amsterdam",4.892944300000001,52.375468
2,"{'location': {'lat': 52.375468, 'lng': 4.89294...",INK Hotel Amsterdam - MGallery,NaN,4.6,"['lodging', 'restaurant', 'food', 'point_of_in...",1385.0,"Nieuwezijds Voorburgwal 67, Amsterdam",4.8938146,52.37614629999999
3,"{'location': {'lat': 52.37614629999999, 'lng':...",English Breakfast Grill Restaurant,NaN,5.0,"['restaurant', 'food', 'point_of_interest', 'e...",3.0,Netherlands,4.893818499999999,52.3760971
4,"{'location': {'lat': 52.3760971, 'lng': 4.8938...",OMG! Burger,NaN,4.4,"['restaurant', 'food', 'point_of_interest', 'e...",43.0,"Nieuwezijds Voorburgwal 41 41-43, Amsterdam",4.893852,52.376161
6,"{'location': {'lat': 52.376161, 'lng': 4.89385...",Mortimer,NaN,4.7,"['restaurant', 'food', 'point_of_interest', 'e...",175.0,"Nieuwezijds Kolk 33, Amsterdam",4.8924784,52.3752401

In [16]:
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Ironhack@localhost/restaurants')

In [17]:
data.to_sql('clean', engine)

ValueError: Table 'clean' already exists.