## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(100),80)
print(sample_list_1)

[82, 35, 7, 41, 24, 79, 8, 75, 90, 55, 32, 19, 71, 30, 95, 23, 81, 18, 26, 38, 52, 60, 17, 58, 69, 62, 88, 6, 59, 73, 47, 93, 91, 70, 66, 68, 80, 48, 51, 63, 1, 5, 50, 86, 36, 49, 29, 56, 33, 11, 87, 92, 42, 54, 16, 15, 40, 61, 39, 31, 9, 89, 85, 65, 84, 67, 2, 34, 27, 43, 97, 53, 77, 76, 72, 78, 99, 21, 44, 57]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
hun_list=list(range(101))
sample_list_2=[]
for x in range(81):
    x=(random.choice(hun_list))
    sample_list_2.append(x)
print (sample_list_2)

[54, 56, 15, 22, 97, 27, 33, 61, 89, 56, 15, 63, 26, 94, 72, 25, 50, 53, 33, 35, 2, 70, 19, 47, 92, 82, 34, 19, 20, 68, 81, 65, 97, 66, 44, 92, 96, 64, 88, 71, 95, 93, 77, 62, 78, 48, 21, 70, 20, 10, 35, 99, 2, 94, 25, 4, 42, 70, 57, 34, 26, 53, 44, 91, 94, 0, 27, 49, 7, 48, 36, 23, 96, 87, 33, 56, 87, 86, 47, 88, 58]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3=set1-set2
print(set3)

{1, 5, 6, 8, 9, 11, 16, 17, 18, 24, 29, 30, 31, 32, 38, 39, 40, 41, 43, 51, 52, 55, 59, 60, 67, 69, 73, 75, 76, 79, 80, 84, 85, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4=set2-set1
print(set4)

{0, 64, 96, 4, 10, 20, 22, 25, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{2, 7, 15, 19, 21, 23, 26, 27, 33, 34, 35, 36, 42, 44, 47, 48, 49, 50, 53, 54, 56, 57, 58, 61, 62, 63, 65, 66, 68, 70, 71, 72, 77, 78, 81, 82, 86, 87, 88, 89, 91, 92, 93, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [19]:
# Your code here
#Set1 will almost always be bigger than Set2
len(set1)>len(set2)
#Set3 will almost always be bigger than Set4
len(set3)>len(set4)
#Set5 has to be smaller than Set1&Set2
len(set5)<len(set1) and len(set5)<len(set2)
#there are more relationships of course eg. 3 and 4 smalller then 1,2 etc.

True

#### Create an empty set called `set6`.

In [25]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
# Your code here
set6.update(set3)
set6.update(set5)
print (set6)

{1, 2, 5, 6, 7, 8, 9, 11, 15, 16, 17, 18, 19, 21, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [28]:
# Your code here
set6==set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [30]:
# Your code here
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
# Your code here
set_u1=set3.union(set4,set5)
set_u2=set1.union(set2)
set_u1==set_u2

True

#### Using the `pop` method, remove the first element from `set1`.

In [37]:
# Your code here
#I should not be able to pop out the first object since a set is unordered
set1.pop()

5

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
# Your code here
#I can get it to go removing every varable 1 by 1 but not in a for loop
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    set1.remove(x)

KeyError: 1